<div class="min-h-screen bg-neutral-950 text-neutral-100">
  <div class="grid grid-cols-[auto_1fr]">
    <!-- width depends on aside, grid must be flexible with auto -->
    <aside class="h-screen sticky top-0 border-r border-neutral-800 p-4">
      <proboard-asidebar></proboard-asidebar>
    </aside>

    <div class="min-h-screen">
      <header
        class="sticky top-0 z-10 border-b border-neutral-800 bg-neutral-950/80 backdrop-blur px-6 py-4"
      >
        <proboard-toolbar></proboard-toolbar>
      </header>

      <main class="px-6 py-6">
        <div class="mx-auto">
          <proboard-card></proboard-card>
        </div>
      </main>
    </div>
  </div>
</div>
